@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@layer utilities {
  .font-primary {
    font-family: "Poppins", sans-serif;
  }
  .font-secondary {
    font-family: "Nunito", sans-serif;
  }
}

@plugin "daisyui/theme" {
  --color-primary: #4b2972;
  --color-base: #757575;
  --color-contrast: #222222;
  --color-accent: #0c3d54;
  --color-accent--variation: hsl(271.4 41.2% 90%);
  --color-border--variation: hsl(0, 0%, 91%);
}

body {
  background-color: #eaeced;
}
